<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HQ Admin</title>
</head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
<body>
	<h2>HQ</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="HQ : ${HQs}">
				
				<td th:text="${HQ.address}"></td>
				<td><a th:href="@{/localHQHQedit/{id}(id=${HQ.id})}">Edit</a></td>
				<td><a th:href="@{/localHQHQdelete/{id}(id=${HQ.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/HQAdmin/HQ-admin-view"> Return to HQ Admin Page</a>
	</p>

</body>
</html>