<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HQ Admin</title>
</head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
<body>
	<h2>Restaurants</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="restaurant : ${restaurants}">
				<td th:text="${restaurant.id}"></td>
				<td th:text="${restaurant.address}"></td>
				<td><a th:href="@{/HQadminrestaurantedit/{id}(id=${restaurant.id})}">Edit</a></td>
				<td><a th:href="@{/HQadminrestaurantdelete/{id}(id=${restaurant.id})}">Delete</a></td>
				
			</tr>
		</tbody>
	</table>

	<p>
		<a href="/restaurantsignup">Add a new Restaurant</a>
	</p>
	<p>
		<a href="/HQ-admin-view"> Return to HQ Admin Page</a>
	</p>

</body>
</html>