<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HQ Admin</title>
</head>
<body>
	<h2>Locations Page</h2>
	<table>
		<thead>
			<tr>
				<th><a href="/HQadmin-offices-view">View Office Locations</a></th>
				<th><a href="/HQadmin-restaurants-view">View Restaurant Locations</a></th>
				<th><a href="/HQadmin-warehouses-view">View Warehouse locations</a></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
</html>