<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HQ Admin</title>
</head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
<body>
	<h2>Offices</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="office : ${offices}">
				<td th:text="${office.id}"></td>
				<td th:text="${office.address}"></td>
				<td><a th:href="@{/HQadminofficeedit/{id}(id=${office.id})}">Edit</a></td>
				<td><a th:href="@{/HQadminofficedelete/{id}(id=${office.id})}">Delete</a></td>
				
			</tr>
		</tbody>
	</table>

	<p>
		<a href="/officesignup">Add a new Office</a>
	</p>
	<p>
		<a href="/HQ-admin-view"> Return to HQ Admin Page</a>
	</p>

</body>
</html>