<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Update Menu Item</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />

    </head>
    <style>
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.h2{
	text-align: center;
	color: #FFFFFF;
}
.label{
	color: white;
	font-size: 1.5rem;
}

</style>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Insert logo here?</div>
                <div class="list-group list-group-flush">
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/local-manager-view">Local Manager Home</a>
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/manager-cust-view">View Customers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/manager-menu-view">View Menu</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/manager-server-view">View Servers</a>
                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logview/{id}(id=${get customer.id from httpsession once login is implemented})">View Action Log (WIP)</a> -->
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Options</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">(possibly something else)</a>
                                        <a class="dropdown-item" href="#!">Change Password (WIP)</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/employeesignin">Sign-out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="container mt-3">
                    	<h2 class="h2">Update Menu</h2>
						<form action="#" 
  							th:action="@{/localmanagerupdatemenu/{id}(id=${item.id})}" 
  							th:object="${item}" 
  							method="post">
    							<label for="name">Item Name</label>
    							<input type="text" th:field="*{name}" id="name" placeholder="Name">
    							<label for="entree">Entree</label>
    							<input type="text" th:field="*{entree}" id="entree" placeholder="Entree">
    							<label for="sides">Sides</label>
    							<input type="text" th:field="*{sides}" id="sides" placeholder="Sides">
    							<label for="price">Price</label>
    							<input type="text" th:field="*{price}" id="price" placeholder="Price">
    							<label for="availability">Availability</label>
    							<input type="text" th:field="*{availability}" id="availability" placeholder="Availability">
    							<label for="quantity">Quantity</label>
    							<input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantity">
    							<input type="submit" value="Update Menu Item">    
							</form>
						</div>
                    </div>
                </div>
            </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>