<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Order</title>
</head>
<body>
<form action="#" th:action="@{/addorder}" th:object="${orders}" method="post">
<label for="entree">Entree</label>
    <input type="text" th:field="*{entree}" id="entree" placeholder="entree">
    <br>
    <label for="sides">Sides</label>
    <input type="text" th:field="*{sides}" id="sides" placeholder="sides">
    <br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <br>
    <input type="submit" value="Update Order">
</form>

</body>
</html>