<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Order</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
</style>
</head>
<body>
<h1>Customer Page</h1>
<p>
	Logged in as {name}
	<a href="/">Log out</a>
</p>
<p>Current menu:</p>
<table>
    <tr>
        <th>Menu Item</th>
        <th>Entree</th>
        <th>Side Dish</th>
        <th>Price</th>
        <th>Availability</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item : ${menu}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.entree}"></td>
        <td th:text="${item.sides}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.availability}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
</table>
</body>
</html>