<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HQ Manager</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

    </head>
    <style>
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.h2{
	text-align: center;
	color: #FFFFFF;
}
.label{
	color: white;
	font-size: 1.5rem;
}

</style>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">The Gazebo</div>
                <div class="list-group list-group-flush">
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hqlogview">View Action Log</a>
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/HQmanager-managers-view">View Restaurant Managers</a>
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/HQmanager-WHmanagers-view">View Warehouse Managers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/HQmanager-offices-view">View Offices</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/HQmanager-restaurants-view">View Restaurants</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/HQmanager-warehouses-view">View Warehouses</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Options</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/loggedinhome">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/changeuserpass">Change Password (WIP)</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Sign-out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="container mt-3">
                    	<h2 class="h2">Add New Warehouse Manager</h2>
						<form action="#" th:action="@{/addwhmanager}" th:object="${warehouseManager}" method="post">
    						<label for="firstName">First Name</label>
    						<input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" required>
    						<label for="lastName">Last Name</label>
    						<input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" required>
    						<br>
    						<label for="email">Email</label>
    						<input type="email" th:field="*{email}" id="email" placeholder="Email" required>
    						<br>
    						<label for="password">Password</label>
    						<input type="password" th:field="*{password}" id="password" placeholder="Password" required>
    						<br>
    						<label class="label" for="hourlyRate">Hourly Rate</label>
    						<input type="number" th:field="*{hourlyRate}" id="hourlyRate" placeholder="7.25" required>
   							<br>
    						<label class="label" for="warehouseid">Warehouse Location</label>
    						<select id="warehouseid" th:field="*{warehouse}" class="form-control" required>
    							<th:block th:each="warehouse : ${listWarehouses}">
    							 <option th:value="${warehouse.id}" th:text="${warehouse.id} + ' ' + ${warehouse.address} + ' ' + ${warehouse.city} + ' ' + ${warehouse.state}"></option>
    							 </th:block>
    							</select>
    						<input type="submit" value="Add Manager">   
						</form>
						</div>
                    </div>
                </div>
            </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>