<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Manager</title>
</head>
<body>
<form action="#" th:action="@{/addlfmanager}" th:object="${managers}" method="post">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" required>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" required>
    <br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" placeholder="Email" required>
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
    <br>
    <label for="location">Location</label>
    <input type="text" th:field="*{location}" id="location" placeholder="Location" required>
    <br>
    <input type="submit" value="Add Manager">  
</form>
</body>
</html>