<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HQ Manager</title>
</head>
<body>

            <h2>Locations View</h2>
            <table>
                <thead>
                    <tr>
                    	<th><a href="/HQmanager-restaurants-view">View Restaurants</a></th>
                        <th><a href="/HQmanager-offices-view">View Offices</a></th>
                        <th><a href="/HQmanager-warehouses-view">View Warehouses</a></th>
                    </tr>
                </thead>
                <tbody>
            </tbody>
        </table>
        <p><a href="/HQ-manager-view">Return to Manager Page</a></p>
</body>
</html>