<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Serving Staff Page</title>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
</style>
</head>
<body>
<h1>Serving Staff Page</h1>
<p>
    Logged in as {name}
    <a href="/">Log out</a>
</p>
<a href="/">Clock in / out</a>
<p>Outgoing orders:</p>
<table style="width:100%">
	<thead>
    <tr>
        <th>Order ID</th>
        <th></th>
        <th>Date</th>
        <th>Price</th>
        <th>Customer ID</th>
        <th></th>
        <th>Menu Items</th>
        <th>Special Instructions</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td><a th:href="@{/deleteorder/{id}(id=${order.id})}">Delete order</a></td>
        <td th:text="${order.date}"></td>
        <td th:text="${order.price}"></td>
        <td th:text="${order.customer}"></td>
        <td><a th:href="@{/serverviewcustinfo/{id}(id=${order.customer})}">View info and rewards</a></td>
        <td th:text="${order.items}"></td>
        <td th:text="${order.instructions}"></td>
        <td th:text="${order.location}"></td>
    </tr>
    </tbody>
</table>
<p>Current menu:</p>
<table>
    <tr>
    	<th>Item ID</th>
        <th>Item Name</th>
        <th>Entree</th>
        <th>Side Dish</th>
        <th>Price</th>
        <th>Availability</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr th:each="item : ${menu}">
    	<td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.entree}"></td>
        <td th:text="${item.sides}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.availability}"></td>
        <td th:text="${item.quantity}"></td>
        <td><a th:href="@{/updatemenuitem/{id}(id=${item.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>
