<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Menu Item</title>
</head>
<body>
<form action="#" 
  th:action="@{/UpdateMenuItem/{id}(id=${Menu.id})}" 
  th:object="${item}" 
  method="post">
    <label for="sides">Sides</label>
    <input type="text" th:field="*{sides}" id="sides" placeholder="Sides">
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <label for="availability">Availability</label>
    <input type="text" th:field="*{availability}" id="availability" placeholder="Availability">
    <label for="quantity">Quantity</label>
    <input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantity">
    <input type="submit" value="Update Menu Item">   
</form>
</body>
</html>
