<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Log view</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />

    </head>
    <style>
table, th, td {
	border: 1px solid black;
}
.table-hover tbody tr:hover td {
    background: #F1F1F1;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #00674E;
   color: white; 
 }
 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #FFFFFF;
}
.h2{
	text-align: center;
	color: #FFFFFF;
}

</style>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">The Gazebo</div>
                <div class="list-group list-group-flush">
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logadminview">View Local Action Log</a>
                	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-cust-view">View Customers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-man-view">View Managers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-server-view">View Servers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-employee-view">View Employees</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Options</button>-->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/loggedinhome">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/changeuserpass">Change Password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Sign-out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="container mt-3">
						<h2 class="h2">Log Entries</h2>
						<table class = "table table-striped table-hover">
                		<thead class="table-dark">
                    		<tr>
								<th>Log entry ID</th>
                        		<th>Location</th>
                        		<th>Date</th>
                        		<th>Time</th>
                        		<th>User ID</th>
								<th>Action</th>
								<th>Action ID</th>
                    		</tr>
                		</thead>
                		<tbody>
                			<tr th:each="entry : ${log}">
			  					<td th:text="${entry.id}"></td>
                    			<td th:text="${entry.location}"></td>
                    			<td th:text="${entry.date}"></td>
                    			<td th:text="${entry.time}"></td>
                    			<td th:text="${entry.userId}"></td>
                    			<td th:text="${entry.action}"></td>
                    			<td th:text="${entry.actionId}"></td>
                			</tr>
            			</tbody>
        				</table>

        			</div>
        			<div class="btn-group">
					</div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>