<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Local Admin</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body>
            <h2>Customers</h2>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Reward Points</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.password}"></td>
                    <td th:text="${customer.rewardsAvailable}"></td>
                    <td><a th:href="@{/localadmincustedit/{id}(id=${customer.id})}">Edit</a></td>
                    <td><a th:href="@{/localadmincustdelete/{id}(id=${customer.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        
    <p><a href="/custsignup">Add a new customer</a></p>
    <p><a href="/local-admin-view"> Return to Admin Page</a></p>

</body>
</html>