<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>

    <p><a href="/servingstaffview">Server Page (Ethan)</a></p>
    <p><a href="/local-manager-view"> Manager Page (Ethan)</a></p>
    <p><a href="/HQ-manager-view"> HQ Manager Page (Ethan)</a></p>
    <p><a href="/local-admin-view"> Admin Page (Bradley)</a></p>
    <p><a href="/HQ-admin-view">HQ Admin page (Bradley)</a></p>
    <p><a href="/add-sample-order">Add sample order and menu item (for testing purposes)</a></p>

</body>
</html>