<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Local Admin</title>
</head>
<body>

            <h2>Admin Page</h2>
            <table>
                <thead>
                    <tr>
                        <th><a href="/admin-cust-view">View Customers</a></th>
                        <th><a href="/admin-man-view">View Managers</a></th>
                        <th><a href="/admin-server-view">View Servers</a></th>
                    </tr>
                </thead>
                <tbody>
            </tbody>
        </table>
</body>
</html>