<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Temporary Simulated Login Page</title>
</head>
<body>

   <!--   <form>
		<label>Email:</label>
		<input type="email"><br>
		<label>Password:</label>
		<input type="password"><br>
	</form>-->
	<p>Local:</p>
    <p><a href="/servingstaffview">Log in as Server</a></p>
    <p><a href="/local-manager-view">Log in as Manager</a></p>
    <p><a href="/local-admin-view">Log in as Admin</a></p>
    <p>HQ:</p>
    <p><a href="/HQ-manager-view">Log in as HQ Manager</a></p>
    <p><a href="/HQ-admin-view">Log in as HQ Admin</a></p>

</body>
</html>