<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Customer</title>
</head>
<body>
<form action="#" 
  th:action="@{/localadmincustupdate/{id}(id=${customer.id})}" 
  th:object="${customer}" 
  method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{firstName}" id="name" placeholder="Name">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <input type="submit" value="Update Customer">   
</form>
</body>
</html>